<a href="https://colab.research.google.com/github/d0rtilla/AbaloneAgePredictionProject/blob/main/Abalone_Age_Prediction.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### Extract and Transform Data

In [ ]:
# Import dependencies
import pandas as pd
import numpy as np
from sklearn.cluster import KMeans
from pathlib import Path
from sklearn.preprocessing import StandardScaler

In [ ]:
# Read in data
file_path = "abalone_original.csv"
df = pd.read_csv(file_path)
display(df)

,sex,length,diameter,height,whole-weight,shucked-weight,viscera-weight,shell-weight,rings
0,M,91,73,19,102.8,44.9,20.2,30.0,15
1,M,70,53,18,45.1,19.9,9.7,14.0,7
2,F,106,84,27,135.4,51.3,28.3,42.0,9
3,M,88,73,25,103.2,43.1,22.8,31.0,10
4,I,66,51,16,41.0,17.9,7.9,11.0,7
...,...,...,...,...,...,...,...,...,...
4172,F,113,90,33,177.4,74.0,47.8,49.8,11
4173,M,118,88,27,193.2,87.8,42.9,52.1,10
4174,M,120,95,41,235.2,105.1,57.5,61.6,9
4175,F,125,97,30,218.9,106.2,52.2,59.2,10
4176,M,142,111,39,389.7,189.1,75.3,99.0,12

In [ ]:
# Find duplicate entries
print(f"Duplicate entries: {df.duplicated().sum()}")

Duplicate entries: 0

In [ ]:
#check for missing values
df.isnull().sum(axis = 0)

length            0
diameter          0
height            0
whole-weight      0
shucked-weight    0
viscera-weight    0
shell-weight      0
rings             0
sex_F             0
sex_I             0
sex_M             0
dtype: int64

In [ ]:
# Get dummies on sex column
df = pd.get_dummies(df)
display(df)

,length,diameter,height,whole-weight,shucked-weight,viscera-weight,shell-weight,rings,sex_F,sex_I,sex_M
0,91,73,19,102.8,44.9,20.2,30.0,15,0,0,1
1,70,53,18,45.1,19.9,9.7,14.0,7,0,0,1
2,106,84,27,135.4,51.3,28.3,42.0,9,1,0,0
3,88,73,25,103.2,43.1,22.8,31.0,10,0,0,1
4,66,51,16,41.0,17.9,7.9,11.0,7,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...
4172,113,90,33,177.4,74.0,47.8,49.8,11,1,0,0
4173,118,88,27,193.2,87.8,42.9,52.1,10,0,0,1
4174,120,95,41,235.2,105.1,57.5,61.6,9,0,0,1
4175,125,97,30,218.9,106.2,52.2,59.2,10,1,0,0
4176,142,111,39,389.7,189.1,75.3,99.0,12,0,0,1

### Multiple Linear Regression Model

In [ ]:
# Create model

In [ ]:
# Split into training and testing sets

In [ ]:
# Scale data

In [ ]:
# Train data

In [ ]:
# Test model

In [ ]:
# Evaluate model